<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Missões</title>
</head>
<body>
    <div class="container">
        <h1>Missões</h1>
    </div>

        <form action= "{% url 'missoes:home' %}" method="post">
            {% csrf_token %}
                 <input type="text" style="width: 300px;" placeholder="Escreva aqui uma nova missão."
                 aria-label="Escreva aqui uma nova missão" arial-describedby="button-addon2" name="nome">
                 <small> {{form.nome.errors}}</small>
                <div>
                    <button type="submit">Adcionar</button>
                </div>
        </form>

        <h2>Missões Pendentes</h2>

        {% for missao in missoes_pendentes %}
            <form action="{% url 'missoes:detalhe' missao_id=missao.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Descreva sua missao" required="required"
                        aria-label='Descreva sua missao' name='nome' value="{{missao.nome}}">
                    <input type="hidden" value="checked" name="feita">
                    <div class="input-group-append">
                        <button type='submit'class="btn btn-sucess">Concluir</button>
                    </div>   
                </div>
            </form>

        {% endfor %}

        <h2>Missões Concluidas</h2>

        {% for missao in missoes_feitas %}
            <div>
                <div>
                    <form action="{% url 'missoes:excluir' missao_id=missao.id %}" method="post">
                        {% csrf_token %}
                        <div>
                            <div>
                                <button type='submit'>Excluir</button>
                            </div>   
                        </div>
                    </form>
                </div>
                </div>
                <form action="{% url 'missoes:detalhe' missao_id=missao.id %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input type="text" placeholder="Descreva sua missao" required="required"
                            aria-label='Descreva sua missao' name='nome' value="{{missao.nome}}">
                        
                        <div class="input-group-append">
                            <button type='submit'>Marcar como pendente</button>
                        </div>   
                    </div>
                </form>

        {% endfor %}
</body>
</html>