<html>
    <body>
        <div>
            <h1>Relatório da Daily</h1>
            <form action="." method="post">
                <div>
                    {% csrf_token %}
                    <h3>O que eu fiz hoje?</h3>
                    {{form.q1}}
                    <h3>Quais foram os impedimentos?</h3>
                    {{form.q2}}
                    <h3>O que pretendo fazer?</h3>
                    {{form.q3}}
                </div>
                <div>
                    <input type="submit" value="Enviar Relatório">
                </div>
            </form>
        </div>
    </body>
</html>