{% extends 'usuarios/home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Tarefas em Progresso{% endblock %}

{% block content %}
<style>
  .container{
    margin-top: 80px;
  }
  .nome{
    position: absolute;
    width: 500px;
    height: 50px;
    background: white !important;
    color: black !important;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
  }
  .botaoEditar{
    margin-left: 630px;
    position: absolute;
    width: 160px;
    height: 50px;
    background: black !important;
    color: white !important;
    border-radius: 30px;
  }
    .botaoExcluir{
    margin-left: 820px;
    position: absolute;
    width: 150px;
    height: 50px;
    background: #000000 !important;
    color: white !important;
    border-radius: 30px; 
  }
  .botaoVoltar{
    margin-left: 1000px;
    position: absolute;
    width: 150px;
    height: 50px;
    background: black !important;
    color: white !important;
    border-radius: 30px;
  }
  .list-group{
    margin-top: 80px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    padding: 10px;
  }
  .semTarefa{
    text-align: center;
  }
  .modal-content{
    margin-left: -50px;
    width: 600px;
  }
  .btn-primary{
    margin-left: -5px;
    border-radius: 30px;
  }
  .btn-warning{
    margin-left: 10px;
    border-radius: 30px;
  }
  .btn-success{
    margin-left: 10px;
    border-radius: 30px;
  }
  .btn-danger{
    margin-left: 10px;
    border-radius: 30px;
  }
</style>
  <div class="container">
    <label class="nome">Tarefas em Progresso</label>
    <a href="{% url 'tarefas_pendentes_list' %}"><button class="botaoEditar" > 
      Pendentes
    </button></a>
    <a href="{% url 'tarefas_concluidas_list' %}"><button class="botaoExcluir" >
          Concluídas
    </button></a>
    <button class="botaoVoltar" onclick="window.location.href = '/tarefas'">Voltar</button>
    <div class="list-group">
      {% for tarefa in tarefas_adiadas %}
        {% if tarefa.categoria == 'urgente' %}
          <button type="button" class="list-group-item list-group-item-danger list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
        {% else %}
          {% if tarefa.categoria == 'importante' %}
            <button type="button" class="list-group-item list-group-item-warning list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
          {% else %}
            <button type="button" class="list-group-item list-group-item-primary list-group-item-action" data-bs-toggle="modal" data-bs-target="#modal{{ tarefa.id }}">
          {% endif %}
        {% endif %}
          <h5><b>{{ tarefa.descricao }}</b></h5>
          <small>Criado em: {{ tarefa.criacao.day }}/{{ tarefa.criacao.month }}/{{ tarefa.criacao.year }}</small>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="modal{{ tarefa.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ tarefa.descricao }} | {{ tarefa.categoria|capfirst }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>
                  <a class="btn btn-primary" href="{% url 'editar_tarefa_progresso' tarefa.id %}">Editar</a>
                  <a class="btn btn-warning" href="{% url 'mover_para_pendente' tarefa.id %}">Mover para 'Pendentes'</a>
                  <a class="btn btn-success" href="{% url 'concluir_tarefa' tarefa.id %}">Concluir</a>
                  <a class="btn btn-danger" href="{% url 'excluir_tarefa_progresso' tarefa.id %}">Excluir</a>

                </p>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <h3 class="semTarefa">Nenhuma tarefa em progresso</h3>
      {% endfor %}
    </div>
  </div>
{% endblock content %}